@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #f5f5f5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}
